<section class='d-flex justify-content-center align-items-center'>
  <mat-card>
    <mat-card-title>It's Magic {{user?.name | titlecase}}!</mat-card-title>
    <div>
      <div class='magic-icon-animation'>
        <mat-icon style='margin-right: -32px'>auto_fix_normal</mat-icon>
        <mat-icon color='primary' style='margin-left: -32px'>auto_fix_high</mat-icon>
      </div>

      <p>You successfully logged in using magic link!</p>

    </div>
  </mat-card>
</section>
