:host {
  section {
    height: 80vh;
  }

  .magic-icon-animation {
    mat-icon {
      width: fit-content;
      height: fit-content;
      font-size: 4em;
      animation: blink-animation 1s steps(5, start) infinite;
    }

    mat-icon:not(:first-of-type) {
      animation-delay: 0.1s;
    }
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }


}
