<section id="image-upload" *ngIf="!image">

    <ng-container *ngIf="!uploading else Uploading">
        <button mat-fab color="primary" (click)="fileUpload.click()">
            <mat-icon>upload</mat-icon>
        </button>
        <button mat-stroked-button class="mt-2" (click)="fileUpload.click()">Upload</button>

        <input #fileUpload (change)="upload($event)" accept="image/*" hidden type="file">
    </ng-container>

    <ng-template #Uploading>
        <mat-spinner></mat-spinner>
    </ng-template>

</section>

<section id="uploaded-image" *ngIf="image">
    <button mat-mini-fab color="warn" (click)="deleteImage()"><mat-icon>delete</mat-icon></button>
    <img [src]="image?.url ?  image.url : image" />
</section>
