<section id="home">
    <div class='d-flex justify-content-center align-items-center h-100'>
        <mat-card class='p-4' style='width: 400px'>
            <mat-card-title class='ml-0 pl-0'>Magic Login</mat-card-title>
            <mat-divider></mat-divider>

            <ng-container *ngIf='!magicLinkSent && !showSignup'>
                <div class='pb-2 pt-4'>
                    <app-form-generator
                      (keydown.enter)='requestMagicLink()'
                      [schema]='[formSchema]'
                      (formOutput)='form = $event'
                      [appearance]="'standard'"
                    ></app-form-generator>
                </div>

                <button mat-flat-button color='primary' class='w-100' (click)='requestMagicLink()'>
                    Request Magic Link
                </button>


                <div class='mt-4'>Don't have an account?
                    <b class='cursor-pointer' (click)='showSignup = true'>Register Now</b>
                </div>
            </ng-container>

            <ng-container *ngIf='showSignup'>
                <div class='pb-2 pt-4'>
                    <app-form-generator
                      [schema]='signupFormSchema'
                      (formOutput)='signupForm = $event'
                      [appearance]="'standard'"
                    ></app-form-generator>
                </div>

                <button mat-flat-button color='primary' class='w-100' (click)='signup()'>
                    Sign up now
                </button>


                <div class='mt-4'>Already have an account?
                    <b class='cursor-pointer' (click)='showSignup = false'>Login Now</b>
                </div>
            </ng-container>

            <ng-container *ngIf='magicLinkSent && !showSignup'>
                <div class='pb-2 pt-4'>
                    <p>
                        We've sent you a magic link to {{form?.get('email').value}}. Please check your email
                        to login.
                    </p>
                    <p>
                        Didn't receive a link? Or wrong email?
                    </p>
                    <button mat-flat-button color='primary' class='w-100' (click)="magicLinkSent = false">
                        Request Another
                    </button>
                </div>

            </ng-container>
        </mat-card>
    </div>
</section>
